language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install flake8
  - pip install codecov
  - pip install -r tests/requirements.txt
# check PEP8 coding standard with flake8
before_script:
   flake8 .
# command to run tests
script: 
  - coverage run --branch --source=ina219 -m unittest discover -s tests -p 'test_*.py'
  - coverage xml
after_success:
  - codecov
